<% content_for(:title) do %>
  <%= @cocktail.name %>
<% end %>


<% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

<%= render 'cocktail_item', cocktail: @cocktail %>

<%= render "doses/form", cocktail: @cocktail, dose: @dose %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %> <%= dose.description %>
      <%= link_to "&times;".html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

