<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_with_default(:title, "Welcome to MisterCocktail") %> | MisterCocktail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </body>
</html>
